<div class="container">
    <h2>Student Result Data</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Roll no.</th><th>Name</th><th>Marks</th>
            </tr>
        </thead>
        <tbody>
           
            <tr *ngFor= "let student of students"  [ngClass]="{'p':student.marks > 40,'f':student.marks < 40,'a':student.marks == 40}" [class.w]="apply">
                <td>{{student.rollNo}}</td><td>{{student.name}}</td><td>{{student.marks}}</td>
            </tr>
            <tr>
                
                <td><div class="fail"></div>: Fail <div class="pass"></div>: pass <div class="equal"></div></td> 
                </tr>
        </tbody>
    </table>
    
