<div class = "container-fluid">
  <div class = "row">
    <div class = "col-5">
   <!--  <app-user-store></app-user-store>-->
    </div>
    <div class = "col-5">
      <app-user-list></app-user-list>
    </div>
  </div>
  <div class = "row">
    <div class = "col-5">
     <!-- <app-user-delete></app-user-delete>-->
      <div class = "col-5"></div>
      <app-activity-store></app-activity-store>
      <app-activity-delete></app-activity-delete>
      <app-activity-update></app-activity-update>
    </div>
  </div>
</div>