<div>
    <h3>Create Users Data</h3>
    <form [formGroup] = "userForm" (ngSubmit) = "handleSubmit()">
        <div>
            <label>
                Id <input type = "text" formControlName = "_id">
            </label>
        </div>
        <div>
            <label>
                Name <input type = "text" formControlName = "name">
            </label>
        </div>
        <div>
            <label>
                Age <input type = "text" formControlName = "age">
            </label>
        </div>
        <div>
            <input type = "submit" value = "Regsiter">
        </div>
    </form>
    <div>
        Info: <p *ngIf = "users">{{users | json}}</p>
        <p *ngIf = "users">Inserted Id: {{users?.insertedId}}</p>
    </div>
</div>