<div class="container-fluid">
    <h3>User List</h3>
<table *ngIf="items" class="table table-Stripped">
    <thead>
        <tr>
            <th> User Id</th><th>Name</th><th>Dob</th><th>Gender</th><th>Phone</th><th>Email</th><th>State</th><th>City</th><th>Pin</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let user of items">
                    <td>{{user.userId}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.dob}}</td>
                    <td>{{user.gender}}</td>
                    <td>{{user.phone}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.address.state}}</td>
                    <td>{{user.address.city}}</td>
                    <td>{{user.address.pin}}</td>
                    </tr>
                    </tbody>
                    </table>
                    </div>